<!DOCTYPE html>
<html>
  <head>
    <title>HiFi-Friends</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>HiFi-Friends</h1>
    <div id="uploadContainer">
      <form id="uploadForm" enctype="multipart/form-data">
        <input type="file" id="fileInput" name="file" accept=".wav" />
        <button type="submit">Upload</button>
      </form>
    </div>
    <div id="message"></div>
    <form action="{{ url_for('play_song') }}" method="POST">
      <ul>
        {% for song in songs %}
        <li>
          <input
            type="radio"
            id="song{{ loop.index }}"
            name="selected_song"
            value="{{ loop.index }}"
          />
          <label for="song{{ loop.index }}">
            <h3>{{ song.title }}</h3>
            <p>{{ song.artist }} - {{ song.duration }}</p>
          </label>
        </li>
        {% endfor %}
      </ul>
      <button type="submit">Add to queue</button>
    </form>
    <audio id="audioPlayer" controls>
      <source src="{{ url_for('audio_stream') }}" type="audio/wav">
      Your browser does not support the audio element.
    </audio>
    <div id="queueContainer">
      <h2>Queued to play</h2>
      <ul id="queueList"></ul>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
