<!DOCTYPE html>
<html>
  <head>
    <title>HiFi-Friends</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    <h1>HiFi-Friends</h1>
    <h5 id="queueHeader">
      Only HIFI uncompressed .wav files are allowed! No compressed audio here.
    </h5>
    <div id="uploadContainer">
      <form
        id="uploadForm"
        enctype="multipart/form-data"
        action="/upload_song"
        method="POST"
      >
        <input type="file" id="fileInput" name="file" accept=".wav" />
        <button type="submit">Upload</button>
      </form>
    </div>
    <div id="message"></div>
    <h2 id="queueHeader">Songs in Library</h2>
    <form action="/add_song_to_queue" method="POST">
      <ul id="songList">
        {% for song in songs %}
        <li>
          <input
            type="radio"
            id="song{{ loop.index }}"
            name="selected_song"
            value="{{ loop.index }}"
          />
          <label for="song{{ loop.index }}">
            <h3>{{ song }}</h3>
          </label>
        </li>
        {% endfor %}
      </ul>
      <button id="addToQueueButton">Add to queue</button>
      <h4 id="queueHeader">
        If there are no songs in the queue, the song will automatically start
        playing. Otherwise, the song will be added to the end of the queue.
      </h4>
    </form>
    <div id="playQueueContainer">
      <h2 id="playingHeader">Playing</h2>
      <div id="playingContainer">
        {% if queue|length > 0 %}
        <label for="song1">
          <h3>{{ queue[0] }}</h3>
          <img
            id="playingIndicator"
            src="{{ url_for('static', filename='sound.gif') }}"
            alt="Playing Indicator"
          />
        </label>
        {% else %}
        <p>No song is currently playing.</p>
        {% endif %}
      </div>
      <h2 id="queueHeader">Queue</h2>
      <div id="queueContainer">
        <ul>
          {% for song in queue[1:] %}
          <li>
            <label for="song{{ loop.index }}">
              <h3>{{ song }}</h3>
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <script src="{{ url_for('static', filename='stream_audio.js') }}"></script>
  </body>
</html>
